@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Estilos para la animación de la tarjeta que gira */

/* Contenedor principal de la tarjeta */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Efecto 3D */
}

/* Contenedor interno que se mueve con la animación */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Activa la animación al pasar el mouse (o al tocar en móviles) */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Caras frontal y trasera de la tarjeta */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Para Safari */
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Estilo de la cara trasera */
.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
